body {
  font-family: sans-serif;
  padding: 2rem;
}

header {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #336699;
}

.table th,
.table td {
  vertical-align: middle;
}
